/* Custom CSS */
.opacity03 {
	opacity: 1;
}

.maxHt200 {
	max-height: 200px;
}

.optionsModal {
	opacity: 1;
	/* width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%; */
}

.textAlignCenter {
	text-align: center;
	/* display: flex; */
	align-content: center;
	align-items: center;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

.vertical-align-content > * {
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.modal-content-wrapper {
	opacity: 1;
}

.width70 {
	width: 70%;
}

ion-radio ::shadow .radio-icon {
	visibility: hidden !important;
}

.MuiInputLabel-formControl {
	background-color: white;
	padding: 0 6px !important;
	/* color: #00afff !important; */
}

.MuiTextField-root {
	width: 100%;
}
.width100 {
	width: 100%;
}

.PrivateNotchedOutline-root-169 {
	border-radius: 12px !important;
}

.modal-question {
	font-size: 24px;
	margin-bottom: 20px;
}

.custom-label {
	border-radius: 30px;
	border-color: #d8d7d7;
	border-width: 1px;
	border-style: solid;
	margin: 10px 0;
	/* width: 270px; */
	min-height: 55px;
	display: flex;
	align-items: center;
	/* padding: 0 0 0 30px !important; */
}

.custom-label.user-form {
	width: 240px;
	border-radius: 15px;
	padding: 0 !important;
	margin: 16px 5px 8px 0;
	/* border-color: #00afff; */
	border-color: rgba(0, 0, 0, 0.23);
}

.user-form .MuiRadio-colorSecondary.Mui-checked {
	color: #00afff;
}
/* .custom-label:has(.MuiRadio-colorSecondary.PrivateSwitchBase-checked-140) {
    background-color: #1dadee;
}
@element '.MuiRadio-colorSecondary.PrivateSwitchBase-checked-140' {
    $parent {
        background-color: #1dadee;
        color: white;
    }
} */

.body {
	font-family: Arial;
}

.MuiOutlinedInput-notchedOutline {
	border-radius: 15px !important;
}

element {
	padding-left: 8px;
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #00afff !important;
}

.form-title {
	margin: 50px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.MuiInputLabel-formControl.Mui-focused,
/* .MuiRadio-colorSecondary.Mui-checked + span, */
.MuiRadio-colorSecondary.Mui-checked {
	color: #00afff !important;
}

.MuiRadio-colorSecondary.Mui-checked + span {
	/* color: black; */
	color: white;
	background-color: #00afff;
}
.next.to-format {
	height: 54px;
	border-radius: 30px;
	width: 270px;
	background-color: #00afff;
	color: white;
	border: none;
}

.custom-radio.quiz {
	display: none;
}

.options-span {
	height: 100%;
	width: 100%;
	border-radius: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px 20px;
}

.custom-radio.quiz.Mui-checked + span {
	background-color: #00afff;
	color: white;
}

.next-button {
	width: 160px;
	height: 50px;
	border-radius: 25px !important;
	background-color: #d8d7d7;
	margin-top: 20px !important;
}

.quiz-format.heading {
	color: #00afff;
	font-size: 27px;
	text-align: center;
	margin: 50px auto 20px auto;
}

.play-image,
.q-image {
	max-height: 55px;
	float: left;
}

.get-started-button,
.custom-button {
	height: 55px;
	width: 320px;
	border-radius: 25px !important;
	background-color: #00afff !important;
	color: white !important;
}

.subtitle {
	font-size: 22px;
}
.subtitle + div,
.fsubtitle {
	color: #828183;
}

.marginlr60 {
	margin: auto 60px;
}

.glabel {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.glabel.male {
	border-right: 1px solid rgba(0, 0, 0, 0.23);
	border-radius: 15px 0 0 15px;
}
.glabel.female {
	border-radius: 0 15px 15px 0;
}

.gender-label {
	height: 55px;
}

.quiz-image {
	max-height: 600px;
}

@media screen and (max-width: 600px) {
	.quiz-image {
		max-height: 300px;
	}
}
